tr,
td {
  border: 1px solid black;
  width: 6rem;
  height: 3rem;
}
.admin-table-child {
  border-collapse: collapse;
}
.admin-text {
  margin-left: 6rem;
  font-size: 10px;
  margin-bottom: 0px;
}
.title {
  background-color: red($color: #000000);
}
.tutu {
  display: none;
}
